* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: #fff;
}

body {
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.container {
  display: flex;
  gap: 20px;
}

.box {
  border: 1px solid #444;
  padding: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
}

.left {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 220px;
}

.avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 1px solid #555;
  border-radius: 6px;
  display: block;
  margin-bottom: 10px;
}

#inventory {
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
}

#inventory h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.inventory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 40px);
  gap: 8px;
  margin-bottom: 10px;
}

.item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
}

#inventory::-webkit-scrollbar {
  width: 6px;
}
#inventory::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

#pfp{
  aspect-ratio: 1/1;
  
}

.gold{
  color: yellow;
}